<div class="sticky"> 
    <nav class="navbar navbar-inverse"> 
    <div class="container-fluid"> 
    <div class="navbar-header"> 
    <a class="navbar-brand" href="#">Sales Master App</a> 
    </div> 
    <ul class="nav navbar-nav navbar-right"> 
    
    <li class="dropdown"> 
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
    <span class="caret"></span></a> 
    <ul class="dropdown-menu"> 
    <li> <a (click)="add()" >Add</a></li> 
    <li><a (click)="out()" >Logout</a></li> 
    </ul> 
    </li> 
    
    </ul> 
    </div> 
    </nav> 
    </div>